{% extends "layout.html" %}

{% block title %}
    Add Record
{% endblock %}
{% block main %}
<div class="container py-1">
    <div class="form-container">
        <form action="/add-record" method="post">
            <div class="d-flex flex-column gap-3">
                <div class="d-flex justify-content-center gap-3 mb-3">
                    <div class="form-check">
                        <input type="radio" id="expenseRadio" name="recordType" value="expense" class="form-check-input">
                        <label class="form-check-label" for="expenseRadio">Expense</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="incomeRadio" name="recordType" value="income" class="form-check-input">
                        <label class="form-check-label" for="incomeRadio">Income</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="accountSelect">Select an Account</label>
                    <select class="form-select" id="accountSelect" name="account">
                        <option value="default" selected disabled>Select an Account</option>
                        {% for account in accounts %}
                            <option value="{{ account.account_id }}">{{ account["name"] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="recordAmount" class="form-label">Amount</label>
                    <input type="number" class="form-control" id="recordAmount" name="amount" min="0" step="0.01">
                </div>
                <div class="form-group">
                    <label for="recordDescription" class="form-label">Description</label>
                    <input type="string" class="form-control" id="recordDescription" name="description">
                </div>
                <div class="form-group">
                    <label for="recordPayee" class="form-label">Payee</label>
                    <input type="string" class="form-control" id="recordPayee" name="payee">
                </div>
                <div class="form-group">
                    <label for="categorySelect">Select a Category</label>
                    <select class="form-select" id="categorySelect" name="category">
                        <option value="default" selected disabled>Select a Category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_id }}">{{ category["name"] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="subCategorySelect">Select a Subcategory</label>
                    <select class="form-select" id="subCategorySelect" name="subcategory">
                      <option value="default" selected disabled>Select a Subcategory</option>
                    </select>
                  </div>
                  <script>

                    const sub_categories = {{ sub_categories | tojson | safe }};
                    document.getElementById('categorySelect').addEventListener('change', function() {
                        const selectedCategoryId = this.value;
                        const subCategorySelect = document.getElementById('subCategorySelect');
                        subCategorySelect.innerHTML = '<option value="default" selected disabled>Select a Subcategory</option>';


                        const filteredSubCategories = sub_categories.filter(sub => sub.main_category_id == selectedCategoryId);
                        filteredSubCategories.forEach(sub => {
                            const option = document.createElement('option');
                            option.value = sub.sub_category_id;
                            option.textContent = sub.name; 
                            subCategorySelect.appendChild(option);
                        });
                    });
                </script>
                <div class="form-group">
                    <label for="recordDate" class="form-label">Date</label>
                    <input type="date" class="form-control" id="recordDate" placeholder="Enter the Date" name="date">
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Add Record</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById('expenseRadio').addEventListener('change', function() {
      if (this.checked) {
        document.getElementById('recordAmount').placeholder = '-';
      }
    });

    document.getElementById('incomeRadio').addEventListener('change', function() {
      if (this.checked) {
        document.getElementById('recordAmount').placeholder = '+';
      }
    });
    let today = new Date().toISOString().split('T')[0];
    document.getElementById('recordDate').setAttribute('max', today);
  </script>
{% endblock %}
