{% extends "layout.html" %}
{% block title %}
    Change Password
{% endblock %}
{% block main %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="card p-4 shadow-sm">
        <div class="text-center mb-4">
            <h2 class="mb-2">Change Password</h2>
        </div>
        <form action="/change-password" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control" name="old_password" placeholder="Old Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control" name="new_password" placeholder="New Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control" name="new_password_confirmation" placeholder="New Password(again)" type="password">
            </div>
            <button class="btn btn-primary w-100" type="submit">Change Password</button>
        </form>
    </div>
</div>
{% endblock %}


